<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID" version="3.0">
    <context-param>
        <param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/application-context.xml</param-value>
    </context-param>
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>    
   <listener>
        <listener-class>
                org.springframework.web.context.request.RequestContextListener 
        </listener-class>
    </listener>	
    
    
    <!-- remoting -->
	<servlet>
	    <servlet-name>bookExporter</servlet-name>
	    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>bookExporter</servlet-name>
	    <url-pattern>/remoting/BookService</url-pattern>
	</servlet-mapping>    
  

  	<!-- spring mvc -->
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	        <param-name>contextConfigLocation</param-name>
			<param-value></param-value>
	    </init-param>		
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- spring security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
		
	<filter>
	    <filter-name>OpenEntityManagerInViewFilter</filter-name>
	    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	    <init-param>
	        <param-name>entityManagerFactoryBeanName</param-name>
	        <param-value>entityManagerFactory1</param-value>
	    </init-param>
	    <init-param>
	        <param-name>flushMode</param-name>
	        <param-value>AUTO</param-value>
	    </init-param>
	</filter>
    <filter-mapping>
    	<filter-name>OpenEntityManagerInViewFilter</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping>	
	<filter>
	    <filter-name>OpenEntityManagerInViewFilter2</filter-name>
	    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	    <init-param>
	        <param-name>entityManagerFactoryBeanName</param-name>
	        <param-value>entityManagerFactory2</param-value>
	    </init-param>
	    <init-param>
	        <param-name>flushMode</param-name>
	        <param-value>AUTO</param-value>
	    </init-param>
	</filter>
    <filter-mapping>
    	<filter-name>OpenEntityManagerInViewFilter2</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping>	

	<!-- jersey -->
	<!-- <servlet> <servlet-name>jersey</servlet-name> <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class> <init-param> <param-name>jersey.config.server.provider.packages</param-name> 
		<param-value>org.bmsource</param-value> </init-param> <init-param> <param-name>jersey.config.server.provider.classnames</param-name> <param-value>com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider</param-value> 
		</init-param> </servlet> <servlet-mapping> <servlet-name>jersey</servlet-name> <url-pattern>/rest/*</url-pattern> </servlet-mapping> -->

	<!-- jersey alternative -->
	<servlet>
		<servlet-name>jersey2</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.bmsource.rest.MyApplication</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey2</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>MySQL DS</description>
		<res-ref-name>jdbc/DataSourceA</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
		<description>MySQL DS</description>
		<res-ref-name>jdbc/DataSourceB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>  
  
</web-app>
